section.footer.container
  h1.main-title__heading-h1 andgraphics studio

  div.footer__contact-wrap
    div.footer__contact
      a(href="#") andgraphics@gmail.com
      a(href="#") +7 [929] 578.53.60

    div.footer__contact
      a(href="#") behance
      a(href="#") instagram

    div.footer__contact
      a(href="#") telegram
      a(href="#") whatsapp
