section.header.container
  p header
  nav.header__menu
    ul.header__list
      li.header__item
        a(href="#").header__link Работы
      li.header__item
        a(href="#").header__link Контакты
