section.main-works--wrap
    div.main-works__item
        div.main-works__img-wrap
            img(src="img/projects/img-title1.jpg" alt="project 1").main-works__img
    div.main-works__item
        div.main-works__img-wrap
            p item 2
