section.main-works
    //row
    div.main-works__row
        a(href="#").main-works__item
            div.main-works__img-wrap
                picture
                    source(media="(min-width: 900px)" srcset="img/projects/cover_1200.jpg")
                    source(media="(min-width: 700px)" srcset="img/projects/cover_1200.jpg")
                    img(srcset="img/projects/cover_640.jpg").main-works__img
            div.main-works__text-wrap
                div.main-works__info-container
                    h3 project title
                    p project description

        a(href="#").main-works__item
            div.main-works__img-wrap
                picture
                    source(media="(min-width: 900px)" srcset="img/projects/cover_1200.jpg")
                    source(media="(min-width: 700px)" srcset="img/projects/cover_1200.jpg")
                    img(srcset="img/projects/cover_mob.jpg").main-works__img
            div.main-works__text-wrap
                div.main-works__info-container
                    h3 project title
                    p project description
    //one
    a(href="#").main-works__item
        div.main-works__img-wrap
            img(src="img/projects/img-title1.png" alt="project 1").main-works__img
        div.main-works__text-wrap
            div.main-works__info-container
                h3 project title
                p project description

    div.main-works__marquee

    div.main-works__row
        a(href="#").main-works__item
            div.main-works__img-wrap
                img(src="img/projects/img-title1.png" alt="project 1").main-works__img
            div.main-works__text-wrap
                div.main-works__info-container
                    h3 project title
                    p project description

        a(href="#").main-works__item
            div.main-works__img-wrap
                img(src="img/projects/img-title1.png" alt="project 1").main-works__img
            div.main-works__text-wrap
                div.main-works__info-container
                    h3 project title
                    p project description

