section.main-works
    a(href="#").main-works__item
        div.main-works__img-wrap
            img(src="img/projects/img-title1.png" alt="project 1").main-works__img
        div.main-works__text-wrap
            div.main-works__info-container
                 p project description
                 h3 project title
