.footer {
  padding-top: 40px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-text;
    font-weight: 600;
  }
}
.footer__contact-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  margin-top: 120px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  a {
    margin: 2px;
  }
  &:nth-child(1) {
    order: 2;
  }
  &:nth-child(2) {
    order: 1;
  }
  &:nth-child(3) {
    order: 3;
  }
}

//
// $tablet-width
//
@media ($tablet-width) {
  .footer {
    height: 30vw;
    border-top: 1px solid $primary-text;
  }
  .footer__contact-wrap {
    flex-direction: row;
    height: auto;
    margin-top: auto;
  }
  .footer__contact {
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 3;
    }
  }
}
