.header {
  position: fixed;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $bgndColor;
  border-bottom: 1px solid $primary-text;
  z-index: 20;
}

//logo
.header__logo {
  width: 220px;
  img {
    display: block;
    width: 100%;
  }
}

//button
.header__toggle-btn {
  padding: 0;
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  span {
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    background-color: $primary-text;
  }
}

// menu
.header-menu {
  display: none;
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  left: 110%;
  top: 71px;
  width: 100%;
  height: calc(100% - 71px);
  background-color: $bgndColor;
}
.header-menu.active {
  display: block;
  left: 0;
}
.header-menu__list {
  @include reset-list;
  margin-top: 20%;
}
.header-menu__item {
  margin: 20px 0;
}
.header-menu__link {
  color: $primary-text;
  font-size: 36px;
}
.header-menu__contact-list {
  @include reset-list;
  position: absolute;
  bottom: 40px;
  left: 20px;
}
.header-menu__contact-item {
  margin: 10px 0;
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-text;
    font-weight: 600;
  }
}

//
// $tablet-width
//
@media ($tablet-width) {
  .header {
    position: relative;
  }
  .header__logo {
    width: 220px;
  }
  .header__toggle-btn {
    display: none;
  }
  //menu
  .header-menu {
    display: block;
    position: static;
    padding: 0;
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .header-menu__list {
    display: flex;
    margin-top: 0;
  }
  .header-menu__item {
    margin: 0 0 0 20px;
  }
  .header-menu__link {
    font-size: 20px;
  }
  .header-menu__contact-list {
    display: none;
  }
}//end @media ($tablet-width)
