.main-works__item {
  color: $light-text;
  text-decoration: none;
  box-sizing: border-box;
  padding: 20px;
  border-top: 1px solid $primary-text;
}
.main-works__img-wrap {
  display: flex;
}
.main-works__img {
  width: 100%;
  display: block;
}
.main-works__text-wrap {

}

.main-works__marquee {
  height: 80px;
  border-top: 1px solid $primary-text;
}

//
// $tablet-width
//
@media ($tablet-width) {
  .main-works__row {
    display: flex;
  }
  .main-works__row .main-works__item {
    width: 50%;
    &:nth-child(2) {
      border-left: 1px solid $primary-text;
    }
  }
  //element
  .main-works__item {
    padding: 0;
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 45vw;
  }
  .main-works__img-wrap {
    @include absolute100;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    picture {
      overflow: hidden;
    }
  }
  .main-works__img {
    object-fit: cover;
    object-position: center;
  }
  .main-works__text-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 40px;
  }
  .main-works__info-container {
    position: sticky;
    top: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
  }

  //marquee
  .main-works__marquee {
    height: 160px;
  }
}
