- var pageTitle = '&graph'

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= pageTitle
        link(rel='stylesheet' href='fonts/LabGrotesque/stylesheet.css')
        link(rel='stylesheet' href='./style/style.css')
    body
        section.wrapper
            include modules/header
            section.content
                include modules/main-title
                include modules/main-works
            include modules/footer

        //script(src='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js')
        script(src="js/dropDownMenu.js")
